fastapi
uvicorn[standard]
pydantic
pytest         
httpx  
python-multipart
bcrypt
python-jose
pydantic[email]
openpyxl
pandas
sqlalchemy
psycopg2
alembic>=1.13,<2.0
passlib[bcrypt]>=1.7.4
dotenv
starlette